/.metadata/
/.recommenders/
Icon
.idea/workspace.xml
.DS_Store
.attach_pid*
target/
project/\.idea/workspace\.xml

project/\.idea/misc\.xml

project/\.idea/compiler\.xml

project/\.idea/libraries/Maven__junit_junit_4_11\.xml

project/\.idea/libraries/Maven__me_xdrop_fuzzywuzzy_1_2_0\.xml

project/\.idea/libraries/Maven__org_apache_commons_commons_csv_1_5\.xml

project/\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3\.xml

project/\.idea/libraries/Maven__org_jetbrains_annotations_16_0_3\.xml

project/DataMatching\.iml

project/\.idea/project\.iml

project/\.idea/modules\.xml

project/hs_err_pid3792\.log

project/hs_err_pid9388\.log

project/replay_pid3792\.log

project/replay_pid9388\.log
